[submodule "embeddedblog/themes/Hugo-Octopress"]
	path = embeddedblog/themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "embeddedblog/themes/mainroad"]
	path = embeddedblog/themes/mainroad
	url = https://github.com/vimux/mainroad.git
